src/flows/realtime-session-poll.flow.json
{
  "properties": {
    "connectionReferences": {
      "shared_alex-5feasydo-5f5849d39a0feaf28d": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "alex_easydo"
        },
        "api": {
          "name": "shared_alex-5feasydo-5f5849d39a0feaf28d"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "alex_dataverse_easydo"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_real_time_session_starts": {
          "metadata": {
            "operationMetadataId": "d4b1e2f3-0001-4a10-9c01-000000000001"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "alex_signaturerequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "alex_realtimesessionactive"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "Only_when_a_session_is_active": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d4b1e2f3-0002-4a10-9c01-000000000002"
          },
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@coalesce(triggerOutputs()?['body/alex_realtimesessionactive'], false)",
                  true
                ]
              },
              {
                "not": {
                  "equals": [
                    "@coalesce(triggerOutputs()?['body/alex_externalformid'], '')",
                    ""
                  ]
                }
              }
            ]
          },
          "actions": {
            "Poll_until_the_document_returns": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d4b1e2f3-0003-4a10-9c01-000000000003"
              },
              "type": "Until",
              "expression": "@equals(coalesce(body('Get_the_form')?['has_data'], false), true)",
              "limit": {
                "count": 200,
                "timeout": "PT10M"
              },
              "actions": {
                "Get_the_form": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-0004-4a10-9c01-000000000004"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_alex-5feasydo-5f5849d39a0feaf28d",
                      "operationId": "GetFormStatus",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_alex-5feasydo-5f5849d39a0feaf28d"
                    },
                    "parameters": {
                      "formId": "@triggerOutputs()?['body/alex_externalformid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Find_the_view_events": {
                  "runAfter": {
                    "Get_the_form": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-0005-4a10-9c01-000000000005"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@coalesce(first(body('Get_the_form')?['assignees'])?['log'], json('[]'))",
                    "where": "@equals(item()?['action'], 'view')"
                  }
                },
                "Update_the_live_status": {
                  "runAfter": {
                    "Find_the_view_events": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-0006-4a10-9c01-000000000006"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "alex_signaturerequests",
                      "recordId": "@triggerOutputs()?['body/alex_signaturerequestid']",
                      "item/alex_status": "@if(coalesce(body('Get_the_form')?['has_data'], false), 626210006, if(not(empty(body('Find_the_view_events'))), 626210004, 626210002))",
                      "item/alex_lastviewedon": "@if(empty(body('Find_the_view_events')), null, last(body('Find_the_view_events'))?['created_at'])",
                      "item/alex_laststatuscheckon": "@utcNow()"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Wait_5_seconds": {
                  "runAfter": {
                    "Update_the_live_status": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-0007-4a10-9c01-000000000007"
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 5,
                      "unit": "Second"
                    }
                  }
                }
              }
            },
            "Finalize_when_the_document_returned": {
              "runAfter": {
                "Poll_until_the_document_returns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d4b1e2f3-0008-4a10-9c01-000000000008"
              },
              "type": "If",
              "expression": {
                "equals": [
                  "@coalesce(body('Get_the_form')?['has_data'], false)",
                  true
                ]
              },
              "actions": {
                "Keep_only_value_fields": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-0009-4a10-9c01-000000000009"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@first(body('Get_the_form')?['payload']?['data'])",
                    "where": "@and(not(equals(item()?['type'], 'input-signature')), not(equals(coalesce(item()?['export']?['header'], ''), '')))"
                  }
                },
                "Write_each_read_back_value": {
                  "runAfter": {
                    "Keep_only_value_fields": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-000a-4a10-9c01-00000000000a"
                  },
                  "type": "Foreach",
                  "foreach": "@body('Keep_only_value_fields')",
                  "actions": {
                    "Create_a_read_back_value": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d4b1e2f3-000b-4a10-9c01-00000000000b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "alex_signaturefieldvalues",
                          "item/alex_name": "@coalesce(item()?['label'], item()?['export']?['header'], item()?['name'])",
                          "item/alex_fieldname": "@item()?['name']",
                          "item/alex_fieldlabel": "@item()?['label']",
                          "item/alex_externalfieldname": "@item()?['export']?['header']",
                          "item/alex_value": "@string(coalesce(body('Get_the_form')?['data']?[item()?['export']?['header']], ''))",
                          "item/alex_direction": 626210001,
                          "item/alex_SignatureRequestId@odata.bind": "@concat('/alex_signaturerequests(', triggerOutputs()?['body/alex_signaturerequestid'], ')')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "Mark_request_as_Completed": {
                  "runAfter": {
                    "Write_each_read_back_value": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-000c-4a10-9c01-00000000000c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "alex_signaturerequests",
                      "recordId": "@triggerOutputs()?['body/alex_signaturerequestid']",
                      "item/alex_status": 626210006,
                      "item/alex_completedon": "@utcNow()"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Download_the_signed_PDF": {
                  "runAfter": {
                    "Mark_request_as_Completed": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-000d-4a10-9c01-00000000000d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_alex-5feasydo-5f5849d39a0feaf28d",
                      "operationId": "DownloadDocument",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_alex-5feasydo-5f5849d39a0feaf28d"
                    },
                    "parameters": {
                      "formId": "@triggerOutputs()?['body/alex_externalformid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Attach_the_signed_PDF_to_the_business_record": {
                  "runAfter": {
                    "Download_the_signed_PDF": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-000e-4a10-9c01-00000000000e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformUnboundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "actionName": "alex_AttachSignedPdf",
                      "item/SignatureRequestId": "@triggerOutputs()?['body/alex_signaturerequestid']",
                      "item/FileName": "@concat(triggerOutputs()?['body/alex_name'], '-signed.pdf')",
                      "item/FileContent": "@base64(body('Download_the_signed_PDF'))"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Attach_a_copy_for_the_agent_modal": {
                  "runAfter": {
                    "Attach_the_signed_PDF_to_the_business_record": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d4b1e2f3-000f-4a10-9c01-00000000000f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "Real-time signed copy | עותק חתום בזמן אמת",
                      "item/filename": "@concat(triggerOutputs()?['body/alex_name'], '-signed.pdf')",
                      "item/mimetype": "application/pdf",
                      "item/isdocument": true,
                      "item/documentbody": "@base64(body('Download_the_signed_PDF'))",
                      "item/objectid_alex_signaturerequest@odata.bind": "@concat('/alex_signaturerequests(', triggerOutputs()?['body/alex_signaturerequestid'], ')')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "else": {
                "actions": {}
              }
            },
            "Close_the_real_time_session": {
              "runAfter": {
                "Finalize_when_the_document_returned": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "d4b1e2f3-0010-4a10-9c01-000000000010"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "alex_signaturerequests",
                  "recordId": "@triggerOutputs()?['body/alex_signaturerequestid']",
                  "item/alex_realtimesessionactive": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "else": {
            "actions": {}
          }
        }
      },
      "schemaVersion": "1.0.0.0"
    }
  },
  "schemaVersion": "1.0.0.0"
}
